@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.deleteIcon:hover {
  fill: white;
}
.deleteIcon {
  fill: #3a3022;
}

.editIcon:hover {
  fill: white;
}
.addIcon {
  fill: #3a3022;
}
.addIcon:hover {
  fill: white;
}
.addProductIcon {
  font-size: 32px;
  fill: #3a3022;
}
.addProductIcon:hover {
  font-size: 42px;
  fill: #3a3022;
}

::-webkit-scrollbar {
  display: none;
}

.absolute-text {
  position: absolute;
  top: 1;
  left: 1;
  right: 1;
  bottom: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

#wantHover:hover .absolute-text {
  opacity: 1;
  z-index: 1;
}

.absolute-text .content {
  background-color: white;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  width: fit-content;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Noto Sans Thai";
  overflow-x: hidden;
  background-color: #f1f1f1;
}

th,
td {
  border: solid 1px rgb(184, 184, 184);
  font-size: small;
}
input {
  border: solid 1px rgb(235, 232, 232);
  margin: 4px;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}
input:focus {
  outline-color: transparent;
}
#myHead {
  margin: 4px;
  width: 800px;
  padding: 12px;
  margin-bottom: 12px;
}
#tax,
#price,
#cash {
  width: 180px;
}
#day {
  width: 148px;
  border: none;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
